# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:

  push:
    branches: [ walsworth ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven
          settings-path: ${{ github.workspace }}
      #      - name: Debug 1 | cat
      #        run: cat $GITHUB_WORKSPACE/settings.xml
      #      - name: Debug 2 | Help effective
      #        run: mvn -ntp help:effective-pom | sed -n '/<distributionManagement>/,/<\/distributionManagement>/p'

      - name: Build with Maven
        run: mvn -B -ntp package --file pom.xml

      - name: Publish to GitHub Packages (Maven deploy)
        run: mvn -B -ntp deploy -s $GITHUB_WORKSPACE/settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
